/* Reset default styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Navigation */
nav ul {
    background-color: #34495E;
    overflow: hidden;
    color: white;
}

nav ul li {
    float: left;
    display: inline;
    padding: 14px 16px;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: #2C3E50;
    cursor: pointer;
}

/* Hamburger menu button */
#nav-toggle {
    background-color: #34495E;
    color: white;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

/* Responsive Navigation Bar */
@media (max-width: 768px) {
    #nav-toggle {
        display: block;
    }

    nav ul {
        display: none;
        float: none;
        text-align: center;
    }

    nav ul li {
        display: block;
        float: none;
    }

    main {
        padding: 15px 5px;
    }
}

main {
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px 0;
    padding: 20px;
}

footer {
    background-color: #34495E;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.plot-wrapper {
    display: flex;
    justify-content: space-around;
}

.plot-container {
    width: 45%;
    height: 400px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

h3 {
    margin-top: 15px;
}
