<!-- The basic structure remains similar to the home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Index Evaluation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
    <header>
        <h1>Stock Prediction Project</h1>
    </header>

    <nav>
        <ul id="nav-list">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <main>
    <section id="about-section">
        <h2>About the Project</h2>
        <p>
            This Project is Jacob Yealy's capstone project for CSC-499 at Shippensburg University. <br>
            In this section, you can find the experiment design information, project components, and results.
        </p>
    </section>

    <section id="purpose-section">
        <h3>Purpose</h3>
        <p>
            The purpose of this project is to analyze the impact that sentiment has on the United States Stock Market. <br>
            To do so, two LSTM networks were trained. Both networks were trained on an 80/20 training and testing split. <br>
            One network only utilized stock data, while the second utilized both stock and sentiment data. <br>
            Using the resulting predictions from the models, a positive or negative impact of sentiment on stock price could be analyzed.
        </p>
    </section>

    <section id="dependencies-section">
        <h3>Dependencies</h3>
        <p>
            This project utilizes the following libraries and APIs:
            TensorFlow - Machine Learning
            Keras - Machine Learning
            SQLite - Database
            YFinance - Stock data source
            Alpha Vantage - Sentimental data source
            Flask - Fullstack connection
            Chart.js - The chart object
        </p>
    </section>



    <section id="results-section">
        <h3>Results</h3>
        <p>
            After seeding the project to perform operation point pilots, here are the results:
        </p>
    </section>
    </main>

    <footer>
        <p>&copy; 2023, Stock Prediction Project</p>
    </footer>
    <script>
        function toggleNav() {
            const navList = document.getElementById('nav-list');
            if (navList.style.display === 'block') {
                navList.style.display = 'none';
            } else {
                navList.style.display = 'block';
            }
        }
    </script>
</body>
</html>
